.box {
    border-radius: 3%;
    background-image: url("上海3.jpg");
    background-repeat: no-repeat;
    background-position: 50% 38%;
    background-size: 700px;
    width: 700px;
    height: 150px;
    margin: 7em auto 0;
    box-shadow: 5px 9px 25px #888899
}

h1 {
    font-size: 2.7em;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    color: #fffafa;
    text-align: center;
    line-height: 150px;
}

p {
    font-size: 1em;
    font-family: "Microsoft YaHei";
    text-align: left;
    margin: 2.5em auto 0;
    width: 600px;
}

h2 {
    font-size: 1.5em;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    text-align: left;
    margin: 1.3em auto 0;
}

.container {
    padding-right: 15px;
    padding-left: 250px;
    margin-right: auto;
    margin-left: auto;
}

.input-group {
    margin: 1em 0em auto;
}

.btn {
    padding: 6px 20px;
    margin: 40px 650px;
    font-size: 18px;
}

.final {
    border-radius: 3%;
    background-image: url(上海3.jpg);
    background-repeat: no-repeat;
    background-position: 60% 90%;
    background-size: 700px;
    width: 700px;
    height: 150px;
    margin: 0em auto 2em;
    box-shadow: 5px 9px 25px #888899;
    font-size: 16px;
    color: #FFF;
    padding: 0.01em 7em;
}

#result {
    width: 500px;
    height: 60px;
    text-align: center;
    font-size: 3em;
    margin: 0.3em -9px;
}